.wrapper {
  padding: 10px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #DFDFDF;
  height: 40px;
}
.wrapper ul {
  display: flex;
  gap: 12px;
}
.wrapper ul li {
  display: flex;
  gap: 4px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
  color: #475067;
}