.main-contents-wrapper {
  display: flex;
  height: 600px;
  gap: 24px;
  margin-top: 12px;
}
.main-contents-wrapper .carousel {
  width: 55%;
  height: 100%;
  background-color: black;
}
.main-contents-wrapper .notice {
  width: 45%;
  height: 100%;
}