.radio {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1.5px solid $gray-06;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    border: 6px solid $primary-light;
  }

  &:checked {
    border: 6px solid $primary;

    &:hover {
      border: 6px solid $primary-light;
    }
  }
}
