.nav {
  display: flex;
  height: 72px;
  align-items: center;
  padding: 0 15%;
  border-bottom: 1px solid $gray-06;

  span {
    font-size: 18px;
    font-weight: $font-bold;

    &:first-child {
      margin-right: 10px;
      font-size: 24px;
      font-weight: $font-bolder;

      &::first-letter {
        color: $primary;
      }
    }
  }
}
