.input-wrapper {
  display: grid;
  width: 100%;
  height: 100%;

  gap: 12px;
  [class*="input"] {
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  input {
    border: 1px solid #ddd;
  }
  .label {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #333333;

  }
}
