.text-editor-wrapper {
  position: relative;
  display: block;
  border: 1px solid $gray-06;
  border-radius: 8px;

  :global {
    .ql-toolbar {
      border: none;
    }

    .ql-container {
      border-top: 1px solid $gray-06;
      border-right: none;
      border-bottom: none;
      border-left: none;
    }

    .ql-length {
      position: absolute;
      right: 0;
      bottom: -30px;
      font-size: 16px;

      > span {
        &:first-child {
          color: $gray-09;
        }

        &:nth-child(2) {
          color: $gray-06;
        }

        &:last-child {
          color: $primary;
        }
      }
    }

    .ql-editor {
      min-height: 500px;

      &::before {
        color: $gray-07;
        font-style: normal;
      }
    }
  }
}
