.card {
  @extend %answer-card;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &.bottom {
    display: grid;
    border-radius: 0 0 8px 8px;
    border-top: none;
    background-color: $white;
    grid-template-columns: repeat(10, 1fr);

    > div {
      &:first-child {
        grid-column: 1 / 8;
      }

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 13px 24px;
        grid-column: 8 / 11;

        > div {
          padding: 4px 8px;

          &:first-child {
            font-weight: $font-bold;
          }

          &:last-child {
            display: flex;
            gap: 6px;

            > span {
              color: $gray-10;
              line-height: 24px;
            }

            .privacy-settings {
              color: $primary;
              font-size: 16px;
              font-weight: $font-bold;
              text-decoration: underline;
              text-underline-offset: 2px;
            }

            :global {
              .dropdown-dropdown {
                top: 30px;
                border-radius: 8px;

                .dropdown-body {
                  width: 89px;

                  .select-content {
                    border-radius: 8px;

                    .option-item {
                      height: 56px;
                      padding: 16px;
                      font-weight: $font-bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.answer {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  margin-top: 32px;
}

.answer-editor {
  border-radius: 0;
  border-top: none;
  background-color: $white;

  :global {
    .ql-editor {
      min-height: 320px;
    }
  }
}

.answer-hashtag {
  width: 100%;
  height: 72px;
  border: none;

  input {
    border: none !important;
  }
}
.option-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
}
