.footer {
  @extend %footer-default;

  display: flex;
  min-width: inherit;
  height: 210px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 45px 20%;
  font-weight: $font-bolder;

  ul {
    display: flex;
    margin-bottom: 8px;
    font-weight: $font-normal;

    li {
      padding: 0 16px;
      border-right: 1px solid $gray-07;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border: none;
      }
    }

    &:first-child {
      margin-bottom: 35px;
      font-weight: $font-bolder;
    }
    &:nth-child(3) {
      margin-bottom: 25px;
    }
  }

  .svg-icons {
    display: flex;
    gap: 15px;

    button {
      height: fit-content;
      background-color: $gray-03;
    }
  }
}
