.hashtag-input-wrapper {
  position: relative;

  .hashtag-input {
    height: 50px;
    height: 72px;
    border-radius: 8px;

    :global {
      .input-target {
        padding: 13px 24px;

        &::placeholder {
          color: $gray-07;
        }
      }
    }
  }

  .hashtag-input-chips {
    position: absolute;
    top: 50%;
    display: flex;
    padding: 13px 24px;
    gap: 10px;
    transform: translate(0%, -50%);

    .tag-chip {
      display: flex;
      height: 32px;
      align-items: center;
      padding: 4px 8px;
      border-radius: 8px;
      background-color: $gray-03;
      color: $gray-08;
      font-size: 16px;
      font-weight: 500;
      gap: 6px;
      line-height: 24px;

      > button {
        height: 20px;
        background-color: inherit;
      }
    }
  }
}
