@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css";
* {
  box-sizing: border-box;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Pretendard Variable";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
main,
input {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  position: relative;
  min-height: 100vh;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  border: solid;
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  cursor: pointer;
}
input::-webkit-inner-spin-button {
  appearance: none;
}
button {
  background-color: white;
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.freezed {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
