.main {
  width: 320px;
  padding: 100px 0;
  margin: auto;

  > div {
    text-align: center;
    > div {
      &:first-child {
        @extend %sign-form-title-default;
      }
      &:last-child {
        margin-top: 32px;
        color: $gray-09;
        font-size: 16px;
      }
    }
  }

  .auth-get-form {
    margin-top: 40px;
    /* stylelint-disable-next-line no-descending-specificity */
    > div {
      &:nth-child(2) {
        margin-top: 24px;
      }
    }
    button {
      margin-top: 24px;
    }
  }

  .auth-send-form {
    margin-top: 28px;
    button {
      margin-top: 24px;
    }
  }
}
