.wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    gap: 32px;
    padding-bottom: 40px;

    .find-pw-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.6px;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: $primary;

    }
}