.wrapper {
  z-index: -1;
  .thumbnail-img {
    height: 202px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: $black;
  }

  .thumbnail-info {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;

    .tag-list {
      > span {
        width: 49px;
        height: 30px;
        padding: 2px 6px;
        border-radius: 4px;
        background-color: rgb(241 245 249 / 100%);
        color: $gray-09;
        font-size: 12px;
        font-weight: $font-bolder;
      }
    }

    &-main {
      display: flex;
      justify-content: space-between;
      color: $gray-09;
      font-size: 12px;
      .likes {
        span {
          &:last-child {
            color: $primary;
          }
        }
      }
    }

    .title {
      color: $gray-15;
      font-size: 16px;
      font-weight: $font-bold;
    }
  }
}
