.wrapper {
    padding: 40px;
    display: grid;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    opacity: 0px;
    width: 1076px;

    .wrapper-top {
        display: grid;
        gap: 36px;
        .title {
            //styleName: Title/Display 4;
            font-family: Pretendard;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;

        }
    }
    .wrapper-bottom {
        .top {
            display: flex;
            justify-content: space-between;
        }
    }

    .wrapper-pagination {
        display:flex;
        justify-content:center;
    }
}