.report-modal {
  :global {
    .modal-template-inner {
      width: 433px;
      height: 203px;
      border-radius: 16px;
      margin-top: 100px;
      background-color: $gray-13;
      color: $white;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    padding: 40px 0 37px;
    line-height: 28px;
  }

  .bottom-button {
    display: grid;
    height: 70px;
    border-top: 1px solid $gray-11;
    grid-template-columns: repeat(2, 1fr);

    button {
      background-color: transparent;
      color: $white;
      font-size: 18px;
      line-height: 18px;

      &:last-child {
        border-left: 1px solid $gray-11;
        color: $error;
      }
    }
  }
}
