.wrapper {
    display: flex;
    gap: 40px;


    .badge-image {
        width: 120px;
        height: 120px;
        div {
        padding: 10px;
            width: 100px;
            height: 100px;
            background: #D9D9D9;
            border-radius: 90px;
        }

    }

    .badge-content {
        display: grid;
        gap: 12px;

        .title {
            //styleName: Title/Headline;
            font-family: Pretendard;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.6px;
            text-align: left;
            color: #333333;

        }

        :nth-child(2) {
            display: grid;
            gap: 10px;
            :first-child {
                //styleName: Body/body 2;
                font-family: Pretendard;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.6px;
                text-align: left;
                color: #8B8B8B;

            }
            :last-child {
                            //styleName: Body/body 1-M;
                font-family: Pretendard;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.6000000238418579px;
                text-align: left;
                color: #434343;
            }

        }

    }
}