.indicator {
  display: flex;
  width: 56px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: $gray-12;
  color: $white;
  font-size: 12px;
  text-align: center;
}
