.card {
  @extend %answer-card;
}

.content-wrapper {
  padding: 32px;
  // margin-top: 20px;
}

.back-button {
  padding: 10px 12px;
}

.title-area {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: $font-bolder;
    line-height: 28px;
  }

  button {
    width: 48px;
    height: 28px;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $primary;
    transition: all 0.3s;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.subject {
  margin-top: 8px;
  color: $primary;
  font-size: 14px;
  line-height: 20px;
}

.content-area {
  margin-top: 24px;
}

.tags-area {
  display: flex;
  margin-top: 24px;
  gap: 6px;

  span {
    height: 32px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: $gray-04;
    color: $gray-08;
    font-size: 14px;
    font-weight: $font-bold;
    line-height: 24px;
  }
}

.content-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;

  > div {
    display: flex;
    align-items: center;

    button {
      display: inherit;
      align-items: inherit;
    }
  }

  .post-info {
    display: flex;
    font-size: 14px;
    gap: 8px;
    line-height: 20px;

    span {
      &:nth-child(2) {
        font-weight: $font-bold;
      }
    }
  }

  .post-buttons {
    display: flex;
    gap: 4px;

    button {
      gap: inherit;

      span {
        color: $gray-10;
        font-size: 13px;
      }
    }
  }
}
