.search-input-wrapper {
  position: relative;
}

.search-input {
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: $gray-02;

  :global {
    .input-target {
      padding: 8px 16px;
    }
  }
}

.search-input-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-0%, -50%);
}
