.tags-area {
    display: flex;
    margin-top: 24px;
    gap: 6px;
  
    span {
      height: 32px;
      padding: 4px 8px;
      border-radius: 8px;
      background-color: $gray-04;
      color: $gray-08;
      font-size: 14px;
      font-weight: $font-bold;
      line-height: 24px;
    }
  }