.wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    gap:32px;
    padding-bottom: 40px;
    .wrapper-image {
        display: flex;
        justify-content: center;

        .profile-svg {

            // border: 1.5px solid;
            // border-radius: 90px;
            box-sizing:border-box;
            // border-image-source: linear-gradient(0deg, rgba(223, 223, 223, 0.4), rgba(223, 223, 223, 0.4)),
            // linear-gradient(270.92deg, #3AA9CC 19.26%, #02B152 66.23%);
        }
        :first-child {
            width:102px;
            height: 100px;
            position: relative;
            :first-child {
                position: absolute;
                
            }
            :last-child {
                position: absolute;
                top: 65px;
                left: 65px;
                border-radius: 50px;
            }
        }
        
    }

    .wrapper-content {
        display: grid;
        gap: 24px;

        .wrapper-form {
            display: grid;
            gap: 28px;
            width: 320px;
            .form-element {
                gap: 8px;
                display: grid;

                .hash-tag-input {
                    input {
                   
                        max-height: 50px;     
                    }
                }
                .input-text {
                    input[type="text"], select {
                        width: 320px;
                        height: 50px;
                        padding: 13px 12px 13px 12px;
                        gap: 10px;
                        border-radius: 8px;
                        border: 1px solid $gray-06;
                        background: $white;

                    }       
                }

                .text-field {
                    width: 320px;
                    height: 100px;
                    max-width: 320px;
                    max-height: 100px;
                    min-width: 320px;
                    min-height: 100px;
                    width: 320px;
                    height: 50px;
                    padding: 13px 12px 13px 12px;
                    gap: 10px;
                    border-radius: 8px;
                    border: 1px solid $gray-06;
                    background: $white;
                    resize: none;
                }

                .text-field-count {
                    color: #C1C1C1;
                    font-family: Pretendard;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: -0.6px;
                    text-align: justified;
                    display: flex;
                    justify-content: end;
                    margin-top: 2px;
                }
                .require {
                    input[type="text"], select {
                        background: #F7F7F7;
                    }      
                }

                label {
                    font-family: Pretendard;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16.8px;
                    letter-spacing: -0.30000001192092896px;
                    text-align: left;
                    color: #333333;
                    span {
                        color: red;
                    }
                }
            }
            
        }   
    }
}

.option-element-wrapper {
    padding: 13px 12px 13px 12px;
    gap: 10px;
    opacity: 0px;
    background: $white;
    width: 320px;
    &:hover {
        background: #EFEFEF;
    }
}

.gray-click {
    a {
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.6px;
        text-align: left;
        color: $gray-10;
            text-decoration: underline;
    }

}
.options-dropdown {

    :global {
      .dropdown-dropdown {
        top: 55px;
        right: 0;
        border: 1px solid #DFDFDF;
        border-radius: 8px;
        height: 300px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 6px;
            background: $white;
        }
        &::-webkit-scrollbar-thumb {
            background: #C1C1C1;
            width: 6px;
            border-radius: 8px;
            
        }
      }

      .option-item {
        &:hover {
            background: #EFEFEF;
        }
        width: 314px;
        display: flex;
        align-items: center;
        height: 52px;
        cursor: pointer;

        [class*="option-wrapper"] {
          display: flex;
          align-items: center;
          padding: 16px;
        }
        .chosen {
          background-color: $gray-03;
        }
      }
    }
  }