.box {
    width: 345.33px;
    height: 325px;
    padding: 20px;
    gap: 60px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #DFDFDF;
    display: grid;
    .box-title {
        font-family: Pretendard;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
    }

    .box-empty {
        display: grid;
        gap: 4px;
        :first-child {
            font-family: Pretendard;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: -0.6000000238418579px;
            text-align: center;
            color: #6F6F6F;

        }
        :last-child {
            //styleName: Body/body 2-M;
            font-family: Pretendard;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.6000000238418579px;
            text-align: center;
            color: #DFDFDF;
        }
    }

    .box-button {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.6000000238418579px;
        text-align: center;

    }
}