.wrapper {
    .tab-wrapper {
        display: flex;
        gap: 20px;

        li {
            padding: 12px;
            display: flex;
            gap: 4px;
            //styleName: Title/Headline;
            font-family: Pretendard;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.6px;
            text-align: left;
            color: #A5A5A5;
            cursor: pointer;

            span {
                width: 27px;
                height: 24px;
                padding: 3px 6px 2px 6px;
                gap: 10px;
                border-radius: 20px;
                opacity: 0px;
                background: #A5A5A5;
                font-family: Pretendard;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.6px;
                text-align: center;
                color: $white;

            }
        }

        .active {
            border-bottom: 2px solid $primary;
            color: $primary;

            span {
                background: $primary;

            }
        }
    }
}