$black: #000;
$white: #fff;
$primary: #02b152;
$primary-light: #82e6af;
$error: #ff4d4c;
$gray-01: #fbfbfb;
$gray-02: #f7f7f7;
$gray-03: #f5f4f3;
$gray-04: #efefef;
$gray-05: #ececec;
$gray-06: #dfdfdf;
$gray-07: #c1c1c1;
$gray-08: #a5a5a5;
$gray-09: #8b8b8b;
$gray-10: #6f6f6f;
$gray-11: #555;
$gray-12: #434343;
$gray-13: #333;
$gray-14: #242424;
$gray-15: #171717;
$font-bolder: 700;
$font-bold: 600;
$font-normal: 400;
$width-desktop: 1280px;
