
.wrapper {
    display: grid;
    gap: 24px;
    
    .wrapper-text {
        //styleName: Title/Display 2;
        font-family: Pretendard;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
    }

    .wrapper-box {
        display: flex;
        gap: 20px;
    }
}
