.wrapper {
  position: relative;

  &.grab {
    cursor: grab;
  }

  .navigator {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    > button {
      position: absolute;
      top: 50%;
      width: 35px;
      height: 40%;
      border-radius: 4px;
      background-color: $gray-02;
      transform: translate(0%, -50%);
      &:active {
        background-color: $gray-04;
      }
      &:disabled {
        cursor: not-allowed;
      }
      &:first-child {
        left: -45px;
      }
      &:last-child {
        right: -45px;
      }
    }
  }

  .slide {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: inherit;

    &-elements {
      position: absolute;
      top: 0;
      left: calc(var(--each-el-width) * -1);
      display: flex;
      width: calc(var(--each-el-width) * var(--el-length));
      justify-content: space-between;

      &.transition {
        transform: translateX(calc(var(--each-el-width) * calc(var(--direction))));
        transition-duration: var(--duration);
      }

      &-item {
        width: var(--each-el-width);
      }
    }
  }
}
