
.wrapper {
    // padding: 0px 0px 40px 0px;
    margin-bottom: 40px;
    gap: 60px;
    opacity: 0px;
    display: grid;
    
    .filter {
        width: 210px;
    }

    .badge-wrapper {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-flow: wrap;
        gap: 60px;

            .item {
                width: 50%;
            }
    }

    .pagination-wrapper {
        display: flex;
        justify-content: center;
    }

}